# Node / Vercel
.vercel
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Temporary artifacts
*.tmp
*.temp
.tempmediaStorage/
.user_uploaded/
